

.Station1 {
  offset-path: path("M 1500 150 L 1150 150")

}

/*.Station {
  position: absolute;
  border-color: red;
  border: 1px solid red;
  padding: 0;
  margin: 0;
  width: 100%;
height: 100%;
}


.Station1 {
  position: absolute;
  top: 5%;
  width: 20%;
  height: 5%;
  right: 0%;
}

#Station2 {
  position: absolute;
  top: 5%;
  width: 20%;
  height: 5%;
  right: 20%;
}

#Station3 {
  position: absolute;
  top: 5%;
  width: 20%;
  height: 5%;
  right: 40%;
}

#Station4 {
  position: absolute;
  top: 5%;
  width: 20%;
  height: 5%;
  right: 60%;
}

#Station5 {
  position: absolute;
  top: 10%;
  right: 80%;
  width: 2%;
  height: 40%;
}

#Station6 {
  position: absolute;
  top: 55%;
  width: 2%;
  right: 75%;
  height: 10%;
}

#Station7 {
  position: absolute;
  top: 55%;
  width: 2%;
  height: 10%;
  right: 65%;
}

#Station8 {
  position: absolute;
  top: 10%;
  right: 60%;
  width: 2%;
  height: 40%;
}

#Station9 {
  position: absolute;
  top: 5%;
  width: 20%;
  height: 5%;
  right: 80%;
}

#Station10 {
  position: absolute;
  top: 50%;
  width: 22%;
  height: 5%;
  right: 60%;
}

  */