body {
  /*background-image: url("../public/Images/Aiport.png");
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin: 0;
  padding: 0;
  
}




